# Framework Web principal
fastapi

# Serveur ASGI pour le développement et la production (Uvicorn est le plus courant)
uvicorn[standard]

# ORM recommandé pour son intégration avec FastAPI/Pydantic
sqlmodel

# Pour la gestion de l'authentification (OAuth2, JWT, etc.)
python-jose[cryptography]

# Gestion des variables d'environnement (pour les clés secrètes, URLs de DB, etc.)
python-dotenv

# Base de données Principale
asyncpg # pilote asynchrone
psycopg2 # pilote synchrone

# envoie des mails
fastapi-mail

#Cache 
redis

#environement de test 
pytest 
httpx 
pytest-asyncio

# Pilote asynchrone pour utiliser SQLite avec SQLModel/SQLAlchemy
aiosqlite

# outils de migration de la base de données
alembic

# Pour la gestion des sessions 
jwt

# Formatage strict du code Python (conformité au PEP 8)
black

# Tri automatique et organisation des imports
isort

# Outil de hooks Git (optionnel, mais très utile pour exécuter Black avant le commit)
 pre-commit


# autres 
#codesum
python-jose
pylint


passlib==1.7.4
bcrypt<4


