
@font-face {
    font-family: 'OneoOne_I'; /* Nom que vous utiliserez dans votre CSS/Tailwind */
    src: url('../assets/arcade_ya/ARCADE_I.TTF') format('truetype');
    font-display: swap; /* Permet un affichage rapide avant le chargement */
}
@font-face {
    font-family: 'OneoOne_N'; /* Nom que vous utiliserez dans votre CSS/Tailwind */
    src:url('../assets/arcade_ya/ARCADE_N.TTF') format('truetype');
    font-display: swap; /* Permet un affichage rapide avant le chargement */
}
@font-face {
    font-family: 'OneoOne_R'; /* Nom que vous utiliserez dans votre CSS/Tailwind */
    src:url('../assets/arcade_ya/ARCADE_R.TTF') format('truetype');
    font-display: swap; /* Permet un affichage rapide avant le chargement */
}