
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Définition de l'animation de rotation et pause */
@keyframes logo-spin-pause {
  /* Début de l'animation : rotation 0° */
  0% {
    transform: rotate(0deg);
  }
  
  /* Fin de la rotation : atteint 360° après 20% du temps total (1s / 5s = 0.2 ou 20%) */
  20% {
    transform: rotate(360deg);
  }
  
  /* Maintien de l'état (rotation 360°) pendant le reste de l'animation */
  100% {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    /* * logo-spin-pause: Nom de l'animation
     * 5s: Durée totale du cycle (1s de rotation + 4s de pause)
     * ease-out: Permet une fin de rotation un peu plus douce
     * infinite: Répétition infinie
     */
    animation: logo-spin-pause 5s ease-out infinite;
    
    /* Assurez-vous d'avoir la règle logo-spin-pause déclarée ci-dessus */
  }
}

/* /frontend/src/index.css */

@keyframes slide-in-up {
  /* Étape 1 : Le div est invisible et en bas (hors écran ou décalé) */
  0% {
    transform: translateY(50px); /* Décalé de 50^x vers le bas */
  }
  /* Étape 2 : Le div est à sa position finale et visible */
  100% {
    transform: translateY(0); /* Position normale */
  }
}

@media (prefers-reduced-motion: no-preference) {
  #titleDiv {
    /* * logo-spin-pause: Nom de l'animation
     * 5s: Durée totale du cycle (1s de rotation + 4s de pause)
     * ease-out: Permet une fin de rotation un peu plus douce
     * infinite: Répétition infinie
     */
    animation: slide-in-up 1s ease-out forwards;
    
    /* Assurez-vous d'avoir la règle logo-spin-pause déclarée ci-dessus */
  }
}