@import url('./styles/font.css');
@import 'tailwindcss';


:root {
  font-family: OneoOne_N, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: oklch(0.65 0.25 330);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
}


/* /frontend/src/index.css */
